.header {
    color: #D01B1B;
    background-color: #95D2EC;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    height: 4rem;
    border-bottom-color: #D01B1B;
    border-bottom-style: solid;
}

.homeLink {
    padding-top: 0.7rem;
    padding-left: 1rem;
}

@media only screen and (max-width: 480px) {
    .header {
        font-size: 1.5rem;
    }
  }