.container {
  max-width: 36rem;
  margin: auto;
  background-color: #001f3f;
  color: rgba(0, 0, 0, 0.817);
  /* height:100vh; */
}

.main {
  padding: 0.5rem 1.5rem 6rem 1.5rem;
}

@media only screen and (max-width: 480px) {
  .main {
    padding: 0.5rem 0.5rem 6rem 0.5rem;
  }
}