.select {
  display: flex;
  font-size: 1.5rem;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0px;
}

@media only screen and (max-width: 480px) {
  .select {
    font-size: 1.3rem;
    margin: 0.5rem 0.5rem 2rem 0.4rem;
  }
}

