.select {
  display: flex;
  font-size: 2rem;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  background-color: #001f3f;
  border-color: rgb(173, 200, 230);
  border-style: solid
;
  color: white
}

@media only screen and (max-width: 480px) {
  .select {
    font-size: 1.3rem;
    margin: 0.5rem 0.5rem 0.5rem 0.4rem;
  }
}

