.calculator {
  color: aliceblue;
}

.resultFieldset,
.inputFieldset {
  height: 10em;
  position: relative;
  border-radius: 25px;
}

.inputContainer,
.resultContainer {
  display: flex;
  margin-top: 0.5em;
}

.inputComponent,
.resultComponent {
  flex: auto;
}

.inputContainer {
  margin-top: 2rem;
}

.convHeader {
  font-size: 2rem;
}

.switchContainer {
  margin-top: 1rem;
}

.switchLink {
  text-align: center;
  display: block;
}

@media only screen and (max-width: 480px) {
  .convHeader {
    font-size: 1rem;
  }

  .inputFieldset,
  .resultFieldset {
    height: 6.5em;
  }

  legend.boxLegend {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
