.resultFieldset,
.inputFieldset {
  height: 9em;
  position: relative;
  border-radius: 5px;
  border-color: #D01B1B;
  border-style: none;
  background-color: #95D2EC;
}

.inputContainer,
.resultContainer {
  display: flex;
  margin-top: 0.5em;
  border-color: #D01B1B;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}

.inputComponent,
.resultComponent {
  flex: auto;
}

.inputContainer {
  margin-top: 2rem;
}

.convHeader {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.switchContainer {
  margin-top: 1rem;
}

.switchLink {
  text-align: center;
  display: block;
}

.switchImage {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .convHeader {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  
  .inputFieldset,
  .resultFieldset {
    height: 6.5em;
  }
  
  .switchImage {
    width: 3rem;
    height: 3rem;
  }
  
}
