.calculator {
  color: aliceblue;
}

.resultFieldset,
.inputFieldset {
  height: 10em;
  position: relative;
  border-radius: 25px;
}

.inputContainer,
.resultContainer {
  display: flex;
  margin-top: 0.5em;
}

.inputComponent,
.resultComponent {
  flex: auto;
}

.inputContainer {
  margin-top: 2rem;
}

.convHeader {
  font-size: 1.5rem;
}

.switchContainer {
  margin-top: 1rem;
}

.switchLink {
  text-align: center;
  display: block;
}

.switchImage {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .convHeader {
    font-size: 1rem;
  }
  
  .inputFieldset,
  .resultFieldset {
    height: 6.5em;
  }
  
  .switchImage {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
  }
  
}
