.timeinputbox {
    float:left;
    margin-right:10px;
}

.timelabel {
    font-size: 2rem;
    display: block;
}

.timeinput {
    font-size: 2.5rem;
    width: 5rem;
}

.secinputbox {
    composes: timeinputbox;
    margin-left: 1.5rem;
}

.speedinput {
    composes: timeinput;
    width: 6rem;
}

@media only screen and (max-width: 480px) {
    .timelabel {
        font-size: 1.2rem;
    }

    .timeinput {
        font-size: 1.4rem;
        width: 3rem;
    }

    .speedinput {
        width: 4rem;
    }
    
}