.timeinputbox {
    float:left;
    margin-right: 1.5rem;
}

.distanceinputbox {
    composes: timeinputbox;
    margin-right: 1.5rem;
}


.timelabel {
    font-size: 2rem;
    display: block;
}

.timeinput {
    font-size: 2.5rem;
    width: 5.5rem;
}

.distanceinput {
    font-size: 2.5rem;
    width: 8rem;
}

.speedinput {
    composes: timeinput;
    width: 8rem;
}

@media only screen and (max-width: 480px) {
    .timelabel {
        font-size: 1.2rem;
    }

    .timeinput {
        font-size: 1.5rem;
        width: 3.5rem;
    }
    
    .distanceinput {
        font-size: 1.5rem;
        width: 5rem;
    }

    .speedinput {
        width: 6rem;
    }

    .timeinputbox {
        margin-right: 1rem;
    }
    
    .distanceinputbox {
        margin-right: 1rem;
    }
    
}